@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    word-spacing: 0.5em;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #000;
}

/*Позиция блока с аватаром*/
.position {
display: flex;
text-align: center;
align-items: center;
justify-content: center;
margin:0px 80px 0px 80px;
border-radius:0px 0px 20px 20px;
box-shadow:0px 5px 10px 0px rgba(0, 0, 0, .5);
background: linear-gradient(120deg, #8ec7ff, #fff);
padding: 20px;
}
/*Главное фото*/
.photo_user {
border-radius: 15px;
}
h1 {
    font-size: 50px;
}
.position p{
    font-size: 25px;
    line-height: 35px;
}
/*Имя и фамилия*/
.head {
    width:500px;
    margin-left: 100px;
}
/*Кнопки соц сетей*/
a{
    margin-left: 6px;
}
/*Кнопка отправить*/
.btn {
    background-color: #ffe902;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
    border: none;
}
.btn:hover {
    opacity: .8;
}
/*занятия и опыт работы, основной блок*/
.live {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
/*Хобби*/
.hobby {
width:400px;
height: 360px;
margin-top: 10px;
margin-left: 150px;
font-size: 18px;
border-radius: 20px;
justify-content: center;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
background: linear-gradient(120deg, #8ec7ff, #fff);
}
/*Опыт работы*/
.expiriance {
width: 430px;
height: 220px;
text-align: center;
align-items: center;
justify-content: center;
margin-top: 10px;
margin-left: 10px;
padding-left: 15px;
border-radius: 20px;
background: linear-gradient(120deg, #8ec7ff, #fff);
font-size: 18px;
}
/*Первая кнопка*/
#btnFirst {
    position:relative;
    top:15px;
    background-color: #ffe902;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    font-family: inherit;
    border: none;
    font-size: 20px;
}
/*Вторая кнопка*/
#btnReserve {
    position:relative;
    left:805px;
    top:10px;
    margin-bottom: 30px;
    background-color: #ffe902;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    font-family: inherit;
    border: none;
    font-size: 20px;
}
/*Всплывающая форма*/
#form {
    display:none;
    text-align: center;
    position: relative;
    top: 200px;
    left: 34%;
    width: 400px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 15px;
    line-height: 2em;
}
/*Подвал*/
.footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    height:100px;
    width:100%;
    background-color:#000;
    color: #fff;
    font-size: 14px;
    border-top: 2px solid #fff;
    margin-top: 100px;
}